@model ServicePointView

@{
    ViewData["Title"] = "Configure Service Points";
}

<!DOCTYPE html>
    <html>
    <body>
        <div class="text-center m-2">
            <h3>Welcome to QMS Service Points Configuration Page.</h3><br />
            
            <table class = "table table-bordered table-striped">
                <tr>
                    <th>Service Point ID</th>
                    <th>Service Point Description</th>
                    <th>Service Point PassKey</th>
                </tr>
                @foreach (var item in Model.ServicePoints)
                {
                    <tr>
                        <td>@item.ServicePointID</td>
                        <td>@item.ServiceDescription</td>
                        <td>@item.PassKey</td>
                        <td><input type="button" value="Edit" onclick="location.href='@Url.Action("EditServicePoint", "Admin", new{buttonname = "Edit",buttonid = @item.ServicePointID})'" /></td>
                        <td><input type="button" value="Delete" onclick="location.href='@Url.Action("EditServicePoint", "Admin", new{buttonname = "Delete",buttonid = @item.ServicePointID})'" /></td>
                    </tr>
                }
            </table>

            <li>
                @Html.ActionLink("ADD SERVICE POINT", "AddServicePoint", "Admin", null)
            </li>
            
        </div>
    </body> 
</html>
