@model ServicePointView
@{
    ViewData["Title"] = "Service Point";
    var servicepoint = ViewData["servicepoint"] as ServicePoint;
    
}

<!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Party!</title>
        </head>
    <body>
        <div>
            <div>
                You are now in service point @servicepoint.ServicePointID offering @servicepoint.ServiceDescription services.<br />
                @ViewData["callingMessage"]<br/>
                @if (ViewData["callednumber"] is false)
                {
                    <input type="button" value="Get Next Number" onclick="location.href='@Url.Action("ServicePoint", "Queue", new{buttonname = "GetNextNo", serviceid = @servicepoint.ServicePointID})'" />
                }
               
                <input type="button" value="Recall Ticket No." onclick="location.href='@Url.Action("ServicePoint", "Queue", new{buttonname = "RecallTicketNo", serviceid = @servicepoint.ServicePointID})'" />
                
                @if ((ViewData["callednumber"] is true) && (ViewData["showedup"] is false))
                {
                    <input type="button" value="Mark as Showed" onclick="location.href='@Url.Action("ServicePoint", "Queue", new{buttonname = "MarkAsShowed", serviceid = @servicepoint.ServicePointID})'" />
                }
                
                @if ((ViewData["callednumber"] is true) && (ViewData["showedup"] is true) && (ViewData["finished"] is false))
                {
                    <input type="button" value="Mark as Finished" onclick="location.href='@Url.Action("ServicePoint", "Queue", new{buttonname = "MarkAsFinished", serviceid = @servicepoint.ServicePointID})'" />
                }

                

                
            </div>
            <div>
                <form method="post" asp-action="ServicePoint" >
                    <label for="service">Transfer to other Service Point</label>
                        
                        <select name="service_id" id="service">
                            <option value="dontTransfer">"Dont Transfer"</option>
                            @foreach (var item in Model.ServicePoints)
                            {
                                <option value=@item.ServicePointID>@item.ServiceDescription</option>
                            }
                        </select>
                    
                    <input type="submit" value="Complete Service" formaction="@Url.Action("ServicePoint")"/>
                </form>
            </div>
            <div>
                <ul>
                    @foreach (var customer in (dynamic)ViewData["queue"])
                    {
                        @if(customer.Value == servicepoint.ServicePointID)
                        {
                            <li>@customer</li>
                        }
                    }
                </ul>
            </div>
            #submit button todo
        </div>
    </body> 
</html>
