@{
    ViewData["Title"] = "Ticket Printing";
}

<!DOCTYPE html>
    <html>
       
    <body>
        <div class="text-center m-2">
            <div>
                <h3>
                Thank you for using qms services.<br />
                Your ticket details are shown below:<br/>
                <br/>
                Ticket No: @ViewData["TicketNo"].<br/>
                Service Point: @ViewData["ServiceId"].<br/>
                Time Queued: @ViewData["TimeQueued"].<br/>
                </h3>
            </div>
            <h4>
            <li>
                @Html.ActionLink("Back to Check-in", "CheckinPage", "Queue", null)
            </li>
            <li>
                @Html.ActionLink("Head to Waiting Page", "WaitingPage", "Queue", null)
            </li>
            </h4>
            @await ViewBag.WebReport.Render()
        </div>
    </body> 
</html>
